.topbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E3E4E8;
}

.user-icon {
    border-radius: 50%;
}