body {
  background-color: #eff3f1;
}

.container {
  padding: 0px 100px;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: unset;
  background-color: unset;
  cursor: pointer;
  color: #3354FF;
  font-weight: 500;
  font-size: 14px;
}